.canvas-galaxy-router {
  align-items: center;
  background-color: #0ff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.canvas-galaxy-container {
  background-color: #000;
  height: 686px;
  width: 686px;
}

.canvas-galaxy-color-div {
  height: 100px;
  margin-top: 50px;
  width: 100%;
}
