.frosted-glass-router {
  .frosted-glass-bg {
    align-items: center;
    background-attachment: fixed;
    background-image: url('./images/image001.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    > div {
      background: rgba(255, 255, 255, 0.5);
      height: 200px;
      margin-top: 50px;
      width: 300px;
    }

    .frosted-glass-filter {
      filter: blur(6px);
    }

    .frosted-glass-backdrop-filter {
      backdrop-filter: blur(6px);
    }
  }

  .frosted-glass-glossy {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 300px;
    z-index: 10;

    &::after {
      background-color: rgba(255, 255, 255, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    &::before {
      background-attachment: fixed;
      background-image: url('./images/image001.png');
      background-repeat: no-repeat;
      background-size: 100% auto;
      bottom: -100px;
      content: '';
      filter: blur(6px);
      left: -100px;
      position: absolute;
      right: -100px;
      top: -100px;
      z-index: -1;
    }
  }
}
